create a very good ui ux website for real estate company built on nextjs 15 with app router and tailwindcss for design .. it should be responsive for all the screens and all the code should be suitable for static export for nextjs ( output : export )

please keep very good color schmes do not use dark colors at all ... 
